{% extends "body.html" %}
{% block main_content %}
<form method="post" enctype="multipart/form-data" >
      <p><input type="file" name="archive" accept=".zip">
         <input type="submit" value="Upload">
    </form>

    <ul>
    {% for batch in batches %}
        <li>
            ID: {{batch.id}}, submitted_on: {{batch.submitted_on}}, {% if batch.location is not none %}
            <a href="{{batch.location}}"> {% endif %}location:
                    {{batch.location}} {% if batch.location is not none %} </a> {% endif %},
            images_processed: {{batch.images_processed}}, crops_generated: {{batch.crops_generated}},
            elapsed_time: {{batch.elapsed_time}}, size: {{batch.size}}, status: {{batch.status}}, type: {{batch.batch_type}}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
