<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="static/css/open-iconic-bootstrap.css" rel="stylesheet">
          <!-- Custom styles for this template -->
    <link href="static/css/sticky-footer.css" rel="stylesheet">
    <title>Mirofossil classification</title>
  </head>
  <body>


      <main class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
              <a class="navbar-brand" href="#">Microfossil classification tools</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/">Home</a>
                  <a class="nav-item nav-link" href="/extract_and_classify_single_image">Extract and classify</a>
                  <a class="nav-item nav-link" href="/batch_extract_and_classify">Batch extract and classify</a>
                </div>
              </div>
          </nav>

        {% with messages = get_flashed_messages() %}
          {% if messages %}

            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                  {{ message }}
                </div>

            {% endfor %}

          {% endif %}
        {% endwith %}
          <div class="alert alert-warning" role="alert">
              Elapsed time: {{'%0.2f' % elapsed_time|float}} seconds.
          </div>

        {% block main_content %}
            Main content goes here
        {% endblock %}
      </main>
        <div class="navbar navbar-default navbar-fixed-bottom ">
            <div class="container">
              <p class="navbar-text pull-left text-muted">Developed by Aleksandar Mitov, BSc Computer Science @ University of Bristol 2018
              </p>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>

