{% extends "body.html" %}
{% block main_content %}

        <div class="row">
            <div class="col">
                {% if uploaded_image_link is not none %}
                    <img src="{{uploaded_image_link}}" class="img-fluid">
                {% endif %}
                <form method="post" enctype="multipart/form-data" >
                    <div class="form-group row">
                        <label for="image" class="col-auto col-form-label col-form-label-lg">Input image to process:</label>
                        <input type="file" accept="image/*" class="form-control col-sm-4" id="image" name="image" placeholder="Sample.png">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for (image_path, predictions) in unfiltered_predictions %}
                    <div class="card border-dark mb-3" style="width: 22rem;">
                        <div class="card-header">
                            Unfiltered crop #{{ loop.index0 + 1}}
                        </div>
                      <img class="card-img-top" src="{{image_path}}" alt="Card image cap">
                      <div class="card-body">

                          <h5 class="card-title">Bulloide: {{'%0.2f' % (100*predictions[0])|float}}% </h5>
                          <h5 class="card-title">Other: {{'%0.2f' % (100*predictions[1])|float}}%</h5>
                          <a href="{{image_path}}" download="" class="btn btn-warning">Download</a>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for (image_path, predictions) in filtered_predictions %}
                   <div class="card border-dark mb-3" style="width: 22rem;">
                       <div class="card-header">
                            Filtered crop #{{ loop.index0 + 1}}
                       </div>
                      <img class="card-img-top" src="{{image_path}}" alt="Card image cap">
                      <div class="card-body">

                          <h5 class="card-title">Bulloide: {{'%0.2f' % (100*predictions[0])|float}}% </h5>
                          <h5 class="card-title">Other: {{'%0.2f' % (100*predictions[1])|float}}%</h5>
                          <a href="{{image_path}}" download="" class="btn btn-warning">Download</a>
                      </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

{% endblock %}
